body{
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin-left: 0;
  color: black;
  font-family: 'Rammetto One', cursive;

}

.line1, .line2{
  z-index: -1;
  transform: rotate(50deg);
  top: 0;
  position: absolute;
}

.line1 {
  border-bottom: 145px solid #ffcccc;
  width: 150rem;
  height: 70rem;
}

.line2 {
  border-bottom: 40px solid #ffb6c1;
  width: 155rem;
  height: 80rem;
}



.header{
  width: 6.5rem;
}

.title{
  margin-top: -0.2rem;
  font-family: 'Henny Penny', cursive;
  font-size: 2.1rem;
  margin-bottom: 2.5rem;
}

.cow{
  width: 9.5rem;
  margin-top: 8vh;
  z-index: -1;
}

.name1{
  display: inline-block;
  width: 13rem;
}

h3{
  font-size: 1.25rem;
}

.name2{
  display: inline-block;
  width: 13rem;
}

.players{
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 28rem;
  margin: auto;
}

/* custom scrollbar */
.players::-webkit-scrollbar {
  width: 20px;
}

.players::-webkit-scrollbar-track {
  background-color: transparent;
}

.players::-webkit-scrollbar-thumb {
  background-color: #ffb6c1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.players::-webkit-scrollbar-thumb:hover {
  background-color: #ffb6c1;
}

.player1{
  text-align: right;
  font-size: 1.2rem;
  margin-top: 1.4rem;
  margin-right: -1rem;
}

.player2{
  font-size: 1.2rem;
  text-align: left;
  margin-top: 2rem;
  margin-left: -1rem;
}

.inputDiv{
  margin-top: 4rem;
  text-align: center;
}

.input{
  border-style: none none solid none;
  border-width: 3.5px;
  border-color: rgb(155,85,85);
  background-color: transparent;
  text-align: center;
  height: 2rem;
  color: black;
  font-family: 'Rammetto One', cursive;
  font-size: 1.5rem;
}

.input:focus {
  outline: none;
  border-color: black;
}

.input::placeholder {
  color: rgb(155,85,85);
  font-family: 'Rammetto One', cursive;
  font-size: 1.5rem;
}

.transparent{
  color: transparent;
  margin-bottom: 10rem;
}

.errormsg1{
  color: purple;
}

/* Clock */
.clockCont{
  font-family: 'Arvo', serif;
}

@media(min-width: 800px){
  .clockCont{
    position: relative;
    bottom: 9.5rem;
    left: 18rem;
    font-size: 2.3rem;
    font-family: 'Arvo', serif;
    margin-bottom: -5rem;
  }

  .timeTag{
    font-size: 1.5rem;
    margin-bottom: -0.8rem;
  }

  .sec, .mil{
    width: 48px !important;
    display: inline-block;
    text-align: left;
  }

  .sec{
    margin-left: 0.5rem;
  }
  .cursor{
    width: 8px;
  }
}

@media (max-width: 799px) {
  .clockCont{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    margin-top: -0.5rem;
  }

  .timeTag{
    margin-bottom: -0.3rem;
  }

  .sec, .mil{
    width: 29px !important;
    display: inline-block;
    text-align: left;
  }
  .cursor{
    width: 5px;
  }
}

.popup{
  width: 100vw;
  height: 68vh;
  position: fixed;
  top: 32vh;
  background-color: white;
  font-size: 1.3rem;
  z-index: 10;
  padding: 50px;
  font-family: 'Arvo', serif;
}

.GameOver{
  font-family: 'Henny Penny', cursive;
}

.nopopup{
  visibility: hidden;
}

@media (max-width: 799px) {
  .popup{
    height: 57vh;
    top: 43vh;
  }
}

@media (pointer:none), (pointer:coarse) {
  body{
    width: 100vw;
  }

  .line1, .line2{
    z-index: -1;
    transform: rotate(50deg);
    top: 0;
    position: absolute;
  }

  .line1 {
    border-bottom: 280px solid #ffcccc;
  }

  .line2 {
    border-bottom: 80px solid #ffb6c1;
    width: 170rem;
    height: 95rem;
  }

  .title{
    margin-top: 2.5rem;
    font-size: 8.5rem;
    margin-bottom: 5rem;
  }

  .cow{
    width: 22rem;
    margin-top: 4vh;
  }

  .name1{
    width: 30rem;
    margin-bottom: 2rem;
  }

  h3{
    font-size: 4.8rem;
  }

  .name2{
    width: 29.2rem;
  }

  .players{
    max-height: 40vh;

    width: 80rem;
    margin: auto;
  }

  /* custom scrollbar */
  .players::-webkit-scrollbar {
    width: 2.8rem;
  }

  .player1{
    font-size: 4rem;
  }

  .player2{
    font-size: 4rem;
  }

  .inputDiv{
    margin-top: 10rem;
  }

  .input{
    border-width: 12px;
    height: 7rem;
    font-size: 4.5rem;
  }

  .input::placeholder {
    font-size: 4.5rem;
  }

  .transparent{
    margin-top: 2rem;
    font-size: 3.55rem;
  }

  /* Clock */
  .clockCont{
    font-size: 5rem;
    margin-bottom: 1.5rem;
    margin-top: 13rem;
    left: 0;
  }

  .timeTag{
    margin-bottom: -0.3rem;
    font-size: 5rem;
  }

  .sec, .mil{
    width: 85px !important;
    display: inline-block;
    text-align: left;
  }
  .cursor{
    width: 15px;
  }
}
