body{
  text-align: center;
  overflow-x: hidden;
  margin-left: 0;
  color: black;
  font-family: 'Rammetto One', cursive;

}

.line1, .line2{
  z-index: -1;
  transform: rotate(50deg);
  top: 0;
  position: absolute;
}

.line1 {
  border-bottom: 145px solid #FEADB5;
  width: 150rem;
  height: 70rem;
}

.line2 {
  border-bottom: 40px solid #FEADB5;
  width: 155rem;
  height: 80rem;
}

.line3, .line4{
  z-index: -1;
  transform: rotate(320deg);
  position: absolute;
  top: 95rem;
  right: -10rem;
}

.line3 {
  border-bottom: 145px solid #ff96a1;
  width: 160rem;
  height: 70rem;
}

.line4 {
  border-bottom: 40px solid #ff8c98;
  width: 165rem;
  height: 80rem;
}

.line5, .line6{
  z-index: -1;
  transform: rotate(50deg);
  top: 180rem;
  position: absolute;
  left: -10rem;
}

.line5 {
  border-bottom: 145px solid #fa7886;
  width: 150rem;
  height: 70rem;
}

.line6 {
  border-bottom: 40px solid #fa6b7b;
  width: 155rem;
  height: 80rem;
}


.header{
  width: 6.5rem;
}

.title{
  margin-top: -0.2rem;
  font-family: 'Henny Penny', cursive;
  font-size: 2.1rem;
  margin-bottom: 2.5rem;
}

.cow{
  width: 9.5rem;
  margin-top: 8vh;
  z-index: -1;
}

.name1{
  display: inline-block;
  width: 13rem;
}

h3{
  font-size: 1.25rem;
}

.name2{
  display: inline-block;
  width: 13rem;
}

.player1{
  text-align: right;
  font-size: 1.2rem;
  margin-top: 1.4rem;
  margin-right: -1rem;
}

.player2{
  font-size: 1.2rem;
  text-align: left;
  margin-top: 2rem;
  margin-left: -1rem;
}

.inputDiv{
  margin-top: 4rem;
  text-align: center;
}

.input{
  border-style: none none solid none;
  border-width: 3.5px;
  border-color: #ff77aa;
  background-color: transparent;
  text-align: center;
  height: 2rem;
  color: #ff3377;
  font-family: 'Rammetto One', cursive;
  font-size: 1.5rem;
}

.input:focus {
  outline: none;
  border-color: #ff3377;
}

.input::placeholder {
  color: #ff77aa;
  font-family: 'Rammetto One', cursive;
  font-size: 1.5rem;
}

.transparent{
  color: transparent;
  margin-bottom: 10rem;
}

.errormsg1{
  color: purple;
}

/* Clock */
@media(min-width: 1200px){
  .clockCont{
    position: relative;
    bottom: 9.5rem;
    left: 18rem;
    font-size: 2.3rem;
    font-family: 'Arvo', serif;
  }

  .timeTag{
    font-size: 1.5rem;
    margin-bottom: -0.8rem;
  }
}
